.cryptocurrency {
  box-sizing: border-box;
  padding: 10px 10px 20px;
  max-width: 100%;
}

.cryptocurrency__search {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.cryptocurrency__search-icon {
  width: 40px;
  margin-right: 10px;
}

.cryptocurrency__card-image {
  width: 35px;
}

.cryptocurrency__card-container {
  max-width: 100%;
}
